* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    padding: 5px;
    margin: auto;
    background-color: rgb(50, 3, 83);
    justify-content: space-between;
    color: #e2dfdf;
    font-size: 24px;
}

h1{
    margin-left: 30px;
}

header,p {
    font-family: "Space Grotesk", cursive;
    font-weight: normal;
}

section .container h2,
h3{
    font-family: "Bungee", cursive;
    font-weight: normal;
}

header li {
    padding: 16px;
    display: inline;
    margin: auto;
    font-size: 18px;
}

header li a{
    color: #e2dfdf;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul{
    margin-left: 100px ;
}

section .container{
    align-items: flex-start;
}

header li a:hover{
    text-decoration:underline;
}

h1{
    font-weight: normal;
}

.negrito{
    font-weight: bold;
    color: rgb(168, 104, 227);
}


.container img {
    padding: 16px;
    margin: 16px;
}


section .container h2{
    padding-top: 20px ;
}

section .linguagens img{
    width: 70px;
    height: auto;
}

section li{
    align-items: center;
    display: inline;
}

h2, h3{
    color: rgb(50, 3, 83) ;
}

.title {
    padding: 16px;
    margin: 0 auto;
}


.title h2{
    font-size: 30px;
}

.logo img{
    width: 100px;
    height: auto;
}

h1{
    position: absolute;
    left: 250px;
}

.contact{
    display: block;
    justify-content: space-between;
}

form,
.contact h3{
    margin: 10px;
    padding-left: 20px;
}

form input,
form textarea,
form button {
    display: block;
    width: 250px;
    padding: 8px;
    margin-bottom: 8px;
}

form textarea{
    resize: none;
    height: 100px;
}

form button {
    background-color: rgb(50, 3, 83);
    color: #fff;
    border: none;
    cursor: pointer;
}
